@charset "utf-8";

/* CSS Document */

h1 {
    font-size: 2em;
    margin-top: 200px;
    text-align: center;
}

#ejercicios {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ejercicios>a {
    text-align: center;
    padding: 5px;
    width: 490px;
    height: 70px;
    color: rgb(2, 2, 3);
    font-size: 3.5em;
    text-align: center;
    border: 2px solid rgb(15.7%, 10.6%, 35%);
    border-radius: 10px;
}

#ejercicios>a:hover {
    border: 2px solid rgb(15, 64, 138);
    color: rgb(15, 64, 138);
    background-color: rgba(217, 248, 248, 0.979);
}