#librerias {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    width: 90vw;
    justify-content: space-around;
    align-items: stretch;
}

.tabla {
    display: table;
    font-size: 17px;
    margin: 20px;
}

.fila {
    display: table-row;
}

.fila>:nth-child(1) {
    min-width: 120px;
}

.fila>:nth-child(2) {
    min-width: 355px;
}

.fila>:nth-child(4) {
    min-width: 110px;
}

.fila>:nth-child(5) {
    min-width: 410px;
}

.fila>:nth-child(7) {
    min-width: 310px;
}

.celda {
    padding: 0px 10px 0px 5px;
    display: table-cell;
    border: 1px solid;
}

#precioMinimo {
    background-color: rgb(240, 197, 194);
}